* {
  font-family: sans-serif; /* Change your font family */
}

html,
body {
  display: flex;
  background-color: #f6f6f6;
  justify-content: center;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.table-sortable {
  border-collapse: collapse;
  margin: 50px 0;
  font-size: 0.9em;
  min-width: 650px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-sortable thead tr {
  background-color: #6698ff;

  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.table-sortable th,
.table-sortable td {
  padding: 12px 15px;
}

.table-sortable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-sortable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-sortable tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}
